<div class="list-container">
  <header class="list-header">
    <h2 class="list-title">{{ title }}</h2>
    <!-- Icon group for editing and deleting -->
  </header>
  <ul class="list-items" cdkDropList (cdkDropListDropped)="drop($event)">
    <li *ngFor="let task of tasksList; let i = index" cdkDrag class="list-item">
      <app-task-card
        [taskId]="task.id"
        [title]="task.title"
        [description]="task.description"
        [comments]="task.comments"
        [dueDate]="task.dueDate"
        [Listid]="listId"
        [taskCategorie]="task.categorie"
      ></app-task-card>
    </li>
  </ul>
  <div class="button-wrapper">
    <button class="add-item-btn" (click)="toggleModalList('taskform', listId, tasksList, projectId)">
      Add another card
    </button>
  </div>
</div>
